deb     http://@DEBIANMIRROR@/debian wheezy main
deb-src http://@DEBIANMIRROR@/debian wheezy main

deb     http://security.debian.org/ wheezy/updates main
deb-src http://security.debian.org/ wheezy/updates main

deb     http://@DEBIANMIRROR@/debian wheezy-updates main
deb-src http://@DEBIANMIRROR@/debian wheezy-updates main
